<!--The content below is only a placeholder and can be replaced.-->
<div class="parrent">
  <!--<div class="header" [style.height.px]="headerHeight">-->
    <!--<input type="number" (change)="onChange($event.target.value)" [value]="height">-->
    <!--<button (click)="increaseHeaderHeight()">+</button>-->
    <!--<button (click)="decreaseHeaderHeight()">-</button>-->
  <!--</div>-->
  <!--<div class="left" [style.width.px]="leftWidth" [style.height.px]="leftHeight">-->
    <!--<button (click)="increaseLeftWidth()">+</button>-->
    <!--<button (click)="decreaseLeftWidth()">-</button>-->
  <!--</div>-->
  <!--<div class="right" [style.width.px]="rightWidht" [style.height.px]="rightHeight">-->
    <!--<button (click)="decreaseLeftWidth()">+</button>-->
    <!--<button (click)="increaseLeftWidth()">-</button>-->
  <!--</div>-->
  <app-header></app-header>
</div>




<router-outlet></router-outlet>
